@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

/* global css */

/* common css */
.container {
  /* width: 90%;
  max-width: 1266px; */
  margin: 0 auto;
  height: 100vh;
}

ul {
  padding: unset;
}

.btn {
  letter-spacing: 0.63px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.pagination {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.page-item .page-link {
  padding: 10px 15px;
  border: none;
  margin: 6px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

.service-pagination .page-item:last-child {
  display: none;
}

.service-pagination .page-item .page-link {
  border-radius: 11px !important;
  color: #5372E7;
}

.disabled .page-link {
  color: #eee ;
}

.service-pagination .disabled .page-link {
  color: #000000!important;
  opacity: 0.7;
  font-weight: normal;
}

.service-pagination .active .page-link {
  color: #fff !important;
}

.active .page-link {
  background-color: #FEBB12;
  color: #000;
}

/* reponsive end */